 

body {
    background-color: peachpuff;
    text-align: center;
    font-family: 'EB Garamond', serif;  

}

header {
    height: 100px;
    background: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}

ul, li, a {
    padding: 0 20px;
    text-decoration: none;
    color: #331103;
    display: inline-block;
}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #E9DACA;
    transition: .5s;
}

li a:hover::after{
    width: 100%;
}

main {
    display: flex;
    border: 2px;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}

.content-right {
    width: 55%;
    height: auto !important;
    overflow: hidden;
}

.background-img {
    height: auto;
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  
}

.content-left {
    width: 40%;
    margin-left: 5%;
}


.ingredients, .steps {
    text-align: center;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  main h1 {
    font-size: 44px;
    color: #331103;
  }

  main h2 {
    font-size: 25px;
    color: #331103;
  }

  main p {
    font-size: 20px;
    color: #331103;
    line-height: 31.50px;
    margin: 30px 0;
  }

  .lists {
    display: inline-block;
    text-align: center;
    list-style-position: inside;
  }

  .description {
    text-align: center;
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }